<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <label id=""></label>
    <input type="number" id="bet" name="bet" min="1">
    <button id="red">Red</button>
    <!--no min, no max bet-->
    <button id="black">Black</button>
    <!--player chooses one color to bet: red, black, or green-->
    <button id="green">Green</button>
    <a href="/">Home</a>
    <h2><%= game.whoWins %></h2>

    <script src="main.js"></script>
</body>

</html>