<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke">Roulette</h3>
                    <p class="text-whitesmoke">Sign UP</p>
                <div class="container-content">
                    <form class="margin-t" action="/signup" method="post">
                        <div class="form-group">
                            <!-- <label>Email</label> -->
                            <input type="email" name="email" class="form-control" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <!-- <label>Password</label> -->
                            <input type="password" name="password" class="form-control" placeholder="*****" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">Sign Up</button>
        
           
                        <p class="text-whitesmoke text-center"><small>Already have an account?</small></p>
                        <a class="text-darkyellow" href="/login"><small>Sing In</small></a>
                    </form>
                
                </div>
            </div>
</body>
</body>
</body>
</html>
